# Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=sua_senha_aqui
DB_DATABASE=soar_db

# Aplicação
PORT=3000
NODE_ENV=development

# Segurança
BCRYPT_ROUNDS=10

# Autenticação
JWT_SECRET=troque_por_um_segredo_forte
JWT_EXPIRES_IN=8h
ADMIN_NOME=Administrador SOAR
ADMIN_EMAIL=admin@soar.org
ADMIN_PASSWORD=defina_uma_senha_forte
